.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    background-color: black;
}
.col-1{
    margin-top: 100px;
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
    color: #ffffff;
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #ffffff;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1::after{
    content: "";
    width: 10px;
    height: 70%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}
.btn{
    padding: 7px 25px;
    border: 2px solid tomato;
    border-radius: 25px;
    color: tomato;
    text-decoration: none;
    margin-right: 15px;
    transition: all .5s ease;
}
.btn:hover{
    background-color: tomato;
    color: aqua;
}
.col-2{
    margin-top: 100px;
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
}
.dokter{
    width: 91%;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
